.title-h1 {
  @include font (
          $size: var(--font-size-h1),
          $height: 1.1,
  );
}

.title-h2 {
  @include font (
          $size: var(--font-size-h2),
          $height: 1.1,
  );
}

.title-h3 {
  @include font (
          $size: var(--font-size-h3),
          $height: 1.1,
  );
}

.title-h4 {
  @include font (
          $size: var(--font-size-h4),
          $height: 1.1,
  );
}

.title-h5 {
  @include font (
          $size: var(--font-size-h5),
          $height: 1.1,
  );
}
