* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: var(--line-height-text);
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--color-white);
}

html {
    font-size: 10px;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

figure {
    line-height: 0;
}

input {
    width: 100%;
    outline: none;
}

button,
input[type="submit"] {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-white);
    transition: background-color 5000s ease-in-out 0s;
    caret-color: var(--color-white);
}

.hide {
    display: none;
}

/* for overlay errors by ParcelJS */
#__parcel__error__overlay__,
#__parcel__error__overlay__ * {
    color: #ffeb3b;
}
